<?xml version="1.0"?>
<!--
/**
 * @copyright   Copyright © Avarda. All rights reserved.
 * @package     Avarda_Checkout3
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <avarda_checkout3_checkout>
                <title>Avarda Checkout</title>
                <model>AvardaCheckout3Facade</model>
                <active>0</active>
                <test_mode>1</test_mode>
                <debug>1</debug>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <onepage_redirect_active>0</onepage_redirect_active>
                <automatic_invoicing_active>0</automatic_invoicing_active>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </avarda_checkout3_checkout>
            <avarda_checkout3_invoice>
                <title>Invoice</title>
                <group>avarda_checkout3</group>
                <model>AvardaCheckout3InvoiceFacade</model>
                <active>1</active>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <can_initialize>1</can_initialize>
                <can_cancel>1</can_cancel>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </avarda_checkout3_invoice>
            <avarda_checkout3_loan>
                <title>Loan</title>
                <group>avarda_checkout3</group>
                <model>AvardaCheckout3LoanFacade</model>
                <active>1</active>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <can_initialize>1</can_initialize>
                <can_cancel>1</can_cancel>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </avarda_checkout3_loan>
            <avarda_checkout3_card>
                <title>Card</title>
                <group>avarda_checkout3</group>
                <model>AvardaCheckout3CardFacade</model>
                <active>1</active>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <can_initialize>1</can_initialize>
                <can_cancel>1</can_cancel>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </avarda_checkout3_card>
            <avarda_checkout3_direct_payment>
                <title>DirectPayment</title>
                <group>avarda_checkout3</group>
                <model>AvardaCheckout3DirectPaymentFacade</model>
                <active>1</active>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <can_initialize>1</can_initialize>
                <can_cancel>1</can_cancel>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </avarda_checkout3_direct_payment>
            <avarda_checkout3_part_payment>
                <title>PartPayment</title>
                <group>avarda_checkout3</group>
                <model>AvardaCheckout3PartPaymentFacade</model>
                <active>1</active>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <can_initialize>1</can_initialize>
                <can_cancel>1</can_cancel>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </avarda_checkout3_part_payment>
            <avarda_checkout3_swish>
                <title>Swish</title>
                <group>avarda_checkout3</group>
                <model>AvardaCheckout3SwishFacade</model>
                <active>1</active>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <can_initialize>1</can_initialize>
                <can_cancel>1</can_cancel>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </avarda_checkout3_swish>
            <avarda_checkout3_high_amount_loan>
                <title>HighAmountLoan</title>
                <group>avarda_checkout3</group>
                <model>AvardaCheckout3HighAmountLoanFacade</model>
                <active>1</active>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <can_initialize>1</can_initialize>
                <can_cancel>1</can_cancel>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </avarda_checkout3_high_amount_loan>
            <avarda_checkout3_paypal>
                <title>Paypal</title>
                <group>avarda_checkout3</group>
                <model>AvardaCheckout3PaypalFacade</model>
                <active>1</active>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <can_initialize>1</can_initialize>
                <can_cancel>1</can_cancel>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </avarda_checkout3_paypal>
            <avarda_checkout3_pay_on_delivery>
                <title>PayOnDelivery</title>
                <group>avarda_checkout3</group>
                <model>AvardaCheckout3PayOnDeliveryFacade</model>
                <active>1</active>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <can_initialize>1</can_initialize>
                <can_cancel>1</can_cancel>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </avarda_checkout3_pay_on_delivery>
            <avarda_checkout3_b2b_invoice>
                <title>B2bInvoice</title>
                <group>avarda_checkout3</group>
                <model>AvardaCheckout3B2bInvoiceFacade</model>
                <active>1</active>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <can_initialize>1</can_initialize>
                <can_cancel>1</can_cancel>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </avarda_checkout3_b2b_invoice>
            <avarda_checkout3_direct_invoice>
                <title>DirectInvoice</title>
                <group>avarda_checkout3</group>
                <model>AvardaCheckout3DirectInvoiceFacade</model>
                <active>1</active>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <can_initialize>1</can_initialize>
                <can_cancel>1</can_cancel>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </avarda_checkout3_direct_invoice>
            <avarda_checkout3_masterpass>
                <title>Masterpass</title>
                <group>avarda_checkout3</group>
                <model>AvardaCheckout3MasterpassFacade</model>
                <active>1</active>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <can_initialize>1</can_initialize>
                <can_cancel>1</can_cancel>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </avarda_checkout3_masterpass>
            <avarda_checkout3_mobile_pay>
                <title>MobilePay</title>
                <group>avarda_checkout3</group>
                <model>AvardaCheckout3MobilePayFacade</model>
                <active>1</active>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <can_initialize>1</can_initialize>
                <can_cancel>1</can_cancel>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </avarda_checkout3_mobile_pay>
            <avarda_checkout3_vipps>
                <title>Vipps</title>
                <group>avarda_checkout3</group>
                <model>AvardaCheckout3VippsFacade</model>
                <active>1</active>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <can_initialize>1</can_initialize>
                <can_cancel>1</can_cancel>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </avarda_checkout3_vipps>
            <avarda_checkout3_zero_amount>
                <title>ZeroAmount</title>
                <group>avarda_checkout3</group>
                <model>AvardaCheckout3ZeroAmountFacade</model>
                <active>1</active>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <can_initialize>1</can_initialize>
                <can_cancel>1</can_cancel>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </avarda_checkout3_zero_amount>
        </payment>
    </default>
</config>
