<?xml version="1.0"?>
<!--
/**
 * @copyright   Copyright © Avarda. All rights reserved.
 * @package     Avarda_Checkout3
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="order_cancel_after">
        <observer name="avarda_checkout3_sales_order_cancel_after" instance="Avarda\Checkout3\Observer\OrderCancelObserver" />
    </event>
    <event name="admin_system_config_changed_section_payment">
        <observer name="avarda_checkout3_remove_flags" instance="Avarda\Checkout3\Observer\ConfigSaveObserver" />
    </event>
    <event name="sales_quote_payment_save_before">
        <observer name="avarda_checkout3_purchase_data_guard" instance="Avarda\Checkout3\Observer\QuotePaymentSaveObserver" />
    </event>
</config>
