<?xml version="1.0"?>
<!--
/**
 * @copyright   Copyright © Avarda. All rights reserved.
 * @package     Avarda_Checkout3
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="AvardaCheckout3InstructionProvider" type="Avarda\Checkout3\Model\InstructionsConfigProvider">
        <arguments>
            <argument name="methodCode" xsi:type="const">Avarda\Checkout3\Model\Ui\ConfigProviderBase::CODE</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="avarda_checkout3_instructions_config_provider" xsi:type="object">AvardaCheckout3InstructionProvider</item>
            </argument>
        </arguments>
    </type>
</config>
