<?xml version="1.0"?>
<!--
/**
 * @copyright   Copyright © 2021 Avarda. All rights reserved.
 * @package     Avarda_Checkout3
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="avarda3" frontName="avarda3">
            <module name="Avarda_Checkout3"/>
        </route>
    </router>
</config>
